@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: 'Montserrat', 'Poppins', 'Inconsolata', sans-serif;
  font-weight: 400;

  /* Other styles */
  box-sizing: border-box;
}
